{% extends 'base.html.twig' %}

{% block title %}{{ gun.name }}}{% endblock %}

{% block body %}



    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="thumbnail">
                <img src="{{ asset(download_photos_directory ~ '/' ~ gun.image_name) }}" alt="...">
                <div class="caption">
                    <h3>{{ gun.name }}</h3>
                    <table class="table table-bordered">
                            <tr>
                                <td>{{ 'label.ammunition_type'|trans }}</td>
                                <td>{{ dictionary['ammunitionTypes'][gun.ammunition_type] }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'label.gun_type'|trans }}</td>
                                <td>{{ dictionary['gunTypes'][gun.gun_type] }}</td>
                            </tr>

                            <tr>
                                <td>{{ 'label.reload_type'|trans }}</td>
                                <td>{{ dictionary['reloadTypes'][gun.reload_type] }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'label.lock_type'|trans }}</td>
                                <td>{{ dictionary['lockTypes'][gun.lock_type] }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'label.caliber_type'|trans }}</td>
                                <td>{{ dictionary['caliberTypes'][gun.caliber_type] }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'label.is_blackpowder'|trans }}</td>
                                <td>{{ gun.is_blackpowder ? 'choice.positive' |trans :'choice.negative' |trans}}</td>
                            </tr>
                        <tr>
                            <td>{{ 'label.permission'|trans }}</td>
                            <td>{{ gun.permission ? 'choice.positive' |trans :'choice.negative' |trans}}</td>
                        </tr>
                    </table>
                    <a href="{{ url('guns_list')}}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            {{ 'action.back_to_list'|trans }}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}