{# Szablon wyświetlania kolekcji danego użytkownika #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'title.collection'|trans }}{% endblock %}

{% block body %}
    <h3>{{ 'title.collection'|trans }}</h3>
    {% if guns is not empty %}
        <table class="table table-bordered">
            <tr class="warning">
                <td>{{ 'label.gun_id'|trans }}</td>
                <td>{{ 'label.gun_name'|trans }}</td>
                <td>{{ 'label.gun_operations'|trans }}</td>
            </tr>
            {% for gun in guns %}
                <tr>
                    <td>{{ gun.gun_id }}</td>
                    <td>{{ gun.name }}</td>
                    <td>
                        <a href="{{ url('user_guns_show', {id: gun.gun_id}) }}">
                            <button type="button" class="btn btn-success">{{ 'action.gun_show'|trans }}
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'info.empty.collection' |trans }}
        </div>
    {% endif %}
{% endblock %}