{# Szablon wyświetlania listy dostępnej broni dla użytkownika #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'title.guns_list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.guns_list'|trans }}</h1>
    <table class="table table-bordered">
        <tr class="warning">
            <td>{{ 'label.gun_id'|trans }}</td>
            <td>{{ 'label.gun_name'|trans }}</td>
            <td>{{ 'label.gun_operations'|trans }}</td>
        </tr>
        {% for gun in guns %}
            <tr>
                <td>{{ gun.id }}</td>
                <td>{{ gun.name }}</td>
                <td>
                    <a href="{{ url('user_guns_show', {id: gun.id}) }}">
                        <button type="button" class="btn btn-success">{{ 'action.gun_show'|trans }}
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}